@font-face{
    font-family: "Shrikhand";

    src: url("./Shrikhand/Shrikhand-Regular.ttf") format("truetype");


}

@font-face {
   

    font-family: "Roboto";

    src: url("./Roboto/Roboto-Black.ttf") format("truetype");
    src: url("./Roboto/Roboto-Regular.ttf") format("truetype");
}

.main {
    margin: 0;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.imglogo {
    width: 50%;
    padding-left: 45px;
}


.menus
{
    background-color: grey;
}

.entrees
{
   background-color: white;
}

.piedsDP
{
    color: white;
    background-color: black;
}